<div class="profile_upper"></div>
<div id="chart"></div>
<h1 class="pledge_list_title">Pledges</h1>
<ul class="profile_pledge_list" id="pledge_list"></ul>



<script type="text/x-handlebars-template" id="rep_info">
<div class="profile_image_box">
<a href={{rep.big_pic_url}}>
<img class="profile_image" src="{{rep.big_pic_url}}" alt="Profile Picture" />
</a>
</div>

<p class="profile_name">
{{rep.name}} <a class="profile_handle" href="http://twitter.com/{{rep.twitter_handle}}">@{{rep.twitter_handle}}</a>
</p>


<% if current_user %>
<button id="positive-pledge">pledge for</button>
<button id="negative-pledge">pledge against</button>
<% end %>

<% positive_percent = (@rep.pledges.where(positive: true).count.to_f/@rep.pledges.count.to_f)*100 %>

<div id='meter_wrapper'><div id='positive_bar' style='width: <%= positive_percent %>%;'></div>



<div class="pledge-form-wrapper">
<form id="pledge-form" style="display:none">

<div id="close-tweet-button">Close</div>
<p class="tweet_box_title">Send a Tweet!</p>
<p id="tweet-handle">@{{rep.twitter_handle}}</p>

<textarea id="tweet-box" placeholder="your message associated with this pledge"></textarea>
<p id="tweet-hashtag">#WeThePAC</p>

<button type="submit">Tweet!</button>
<span id="tweet-character-count"></span>
</form>
</div>



<script type="text/javascript">
$(document).data().negative = <%= @rep.pledges.where(positive: false).count  %>;
$(document).data().positive = <%= @rep.pledges.where(positive: true).count %>;


function updateFulfillMeter(positive) {
  if(positive === 'true') {
    $(document).data().positive += 1;
  } else {
    $(document).data().negative += 1;
  }

  var pos = $(document).data().positive;
  var total = $(document).data().positive + $(document).data().negative;

  $('#positive_bar').animate({width: ((pos/total)*100+'%')}, 800);
}

</script>



<script type="text/x-handlebars-template" id="rep_pledge_feed">
<li class="profile_pledge_list_item">
<a href="/users/{{pledge.user_id}}"><img src={{pledge.user_thumbnail_url}} alt="@{{pledge.user_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
<i class="fa fa-exchange fa-lg feed-exchange-icon"></i>
<a href="/reps/{{pledge.rep_id}}"><img src="{{pledge.rep_thumbnail_url}}" alt="@{{pledge.rep_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
<p><a href="/users/{{pledge.user_id}}">{{pledge.user_name}}</a> - <a href="http://twitter.com/{{pledge.user_twitter_handle}}">@{{pledge.user_twitter_handle}}</a></p>
<p class="profile_pledge_list_item_text">
{{pledge.tweet_message}}
</p>
</li>
</script>


<script type="text/javascript">

function makeGraph() {


  function getMatches(string, regex) {
    var matches = {};
    var match;
    while (match = regex.exec(string)) {
      matches[match[1]] = match[2];
    }
    return matches;
  }

  function reconsileDates(positive, negative) {
    for(var key in positive) {
      if (key in negative === false) {
        negative[key] = 0
      }
    }

    for(var key in negative) {
      if (key in positive === false) {
        negative[key] = 0
      }
    }
    return {positive: positive, negative: negative}
  }

  function makeDatesArray(object) {
    positiveArray = ['positive']
    negativeArray = ['negative']
    dateArray = ['x']

    function converDate(date) {
      var date = new Date(date);
      var year = date.getFullYear(), month = (date.getMonth() + 1), day = date.getDate();

      if (month < 10) month = "0" + month;
      if (day < 10) day = "0" + day;

      return ("" + year + '-' + month + '-' + day);
    }


    for(var key in object.positive) {
      positiveArray.push(object.positive[key]);
    }

    for(var key in object.negative) {
      negativeArray.push(object.negative[key]);
      dateArray.push(converDate(key));
    }

    return {positive: positiveArray, negative: negativeArray, x: dateArray}
  }

  var positivePledges = '<%= @rep.pledges.where(positive: true).group("DATE(created_at)").count %>';
  var negativePledges = '<%= @rep.pledges.where(positive: false).group("DATE(created_at)").count %>';
  var myRegexp = /(\d\d\s\w\w\w\s\d\d\d\d)\W\W...(\d{1,})/g;

  var positiveDates = getMatches(positivePledges, myRegexp);
  var negativeDates = getMatches(negativePledges, myRegexp);
  var datesObject = reconsileDates(positiveDates, negativeDates);
  var graphArrays = makeDatesArray(datesObject);



  var chart = c3.generate({
    bindto: '#chart',

    data: {
      x: 'x',
      columns: [
      graphArrays.x,
      graphArrays.positive,
      graphArrays.negative
      ]
    },

    types: {
      positive: 'area-spline',
      negative: 'area-spline',
    },

    axis: {
      x: {
        type: 'timeseries',
        tick: {
          format: '%Y-%m-%d'
        }
      }
    }
  });
};

</script>








<%= javascript_include_tag 'reps', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'tweet', 'data-turbolinks-track' => true %>


