<div id="searchResults"></div>
<div class="profile_upper"></div>
<ul class="profile_pledge_list" id="pledge_list"></ul>
<ul class="profile_fulfillment_list" id="fulfillment_list">
<h1 class="pledge_list_title">Unfulfilled Pledges</h1></ul>

<script type="text/x-handlebars-template" id="searchResultTemplate">
  <div class="search-result">
    <a class="search-result-anchor" href={{rep.profile_url}}>
      <img src="{{rep.thumbnail_url}}" class="search-result-thumbnail">
    </a>

    <a class="search-result-anchor" href={{rep.profile_url}}>{{rep.name}}</a>
    <a class="search-result-anchor" href="http://twitter.com/{{rep.twitter_handle}}">{{rep.twitter_display}}</a>
  </div>
</script>

<script type="text/x-handlebars-template" id="user_info">
  <div class="profile_image_box">
    <a href={{user.profile_pic_big_url}}>
      <img class="profile_image" src={{user.profile_pic_big_url}} alt="Profile Picture" />
    </a>
  </div>

  <p class="profile_name">
      {{user.name}} <span class="profile_handle"><a href="http://twitter.com/{{user.twitter_handle}}">@{{user.twitter_handle}}</a></span>
  </p>

  <% if current_user && current_user.id.to_s == params[:id] %>
    <button id="TogglePledgeFeed">Show All Pledges</button><button id="ToggleFulfillmentFeed">Fulfill Pledges</button><br>
  <% end %>


  <% profile_user = User.find(params[:id]) %>

  <% fulfilled_percent = profile_user.pledges.where(fulfilled: true, positive: true).count/profile_user.pledges.where(positive: true).count.to_f*100 %>


<div id='meter_wrapper'><div id='positive_bar' style='width: <%= fulfilled_percent %>%;'></div>


</script>


<script type="text/javascript">
$(document).data().pledgeTotal = <%= profile_user.pledges.where(positive: true).count %>;
$(document).data().fulfilled = <%= profile_user.pledges.where(fulfilled: true, positive: true).count %>;


function updateFulfillMeter() {

  $(document).data().fulfilled += 1
  var ful = $(document).data().fulfilled
  var pledgeTotal = $(document).data().pledgeTotal
  $('#positive_bar').animate({width: ((ful/pledgeTotal)*100+'%')}, 800);
}

</script>





<script type="text/x-handlebars-template" id="user_pledge_feed">
  <li class="profile_pledge_list_item">
    <a href="/users/{{pledge.user_id}}"><img src="{{pledge.user_thumbnail_url}}" alt="@{{pledge.user_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
    <i class="fa fa-exchange fa-lg feed-exchange-icon"></i>
    <a href="/reps/{{pledge.rep_id}}"><img src="{{pledge.rep_thumbnail_url}}" alt="@{{pledge.rep_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
    <p><a href="/reps/{{pledge.rep_id}}">{{pledge.rep_name}}</a> - <a href="http://twitter.com/{{pledge.rep_twitter_handle}}">@{{pledge.rep_twitter_handle}}</a></p>
    <p class="profile_pledge_list_item_text">
      {{pledge.tweet_message}}
    </p>
    <div class='positive_icon' style='display:none'>
      <i class="fa fa-plus fa-2x"></i>
      <i class="fa fa-money fa-2x"></i>
    </div>
    <div class='negative_icon' style='display:none'>
      <i class="fa fa-minus fa-2x"></i>
      <i class="fa fa-money fa-2x"></i>
    </div>
  </li>
</script>

<!-- fulfillment feed -->
<script type="text/x-handlebars-template" id="user_fulfillment_feed">
  <li class="profile_fulfillment_list_item">
    <div class="fulfill-action" data-rep-external-url="{{unfulfilledPledge.rep_external_url}}" data-pledge-id="{{unfulfilledPledge.id}}">
      <button class="fulfill-button">Fulfill</button>
    </div>
    <a href="/users/{{unfulfilledPledge.user_id}}"><img src="{{unfulfilledPledge.user_thumbnail_url}}" alt="@{{unfulfilledPledge.user_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
    <i class="fa fa-exchange fa-lg feed-exchange-icon"></i>
    <a href="/reps/{{unfulfilledPledge.rep_id}}"><img src="{{unfulfilledPledge.rep_thumbnail_url}}" alt="@{{unfulfilledPledge.rep_twitter_handle}}'s picture"  class="feed-thumbnail"/></a>
    <p><a href="/reps/{{unfulfilledPledge.rep_id}}">{{unfulfilledPledge.rep_name}}</a> - <a href="http://twitter.com/{{unfulfilledPledge.rep_twitter_handle}}">@{{unfulfilledPledge.rep_twitter_handle}}</a></p>
    <p class="profile_fulfillment_list_item_text">
      {{unfulfilledPledge.tweet_message}}
    </p>
  </li>
</script>

<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'header-search-bar', 'data-turbolinks-track' => true %>
