<div class="profile_page">
  <div class="profile_upper">
    <div class="profile_image_box">
      <img class="profile_image" src="" alt="Profile Picture" />
    </div>

    <p class="profile_name"><%= @user.name %> <span class="profile_handle"><%= @user.twitter_handle %></span></p>

    <p class="profile_pledged">Pledged $<%= @user.pledge_cnt %> and fulfilled $<%= @user.fulfilled_pledge_cnt %>!</p>
  </div>

  <ul class="profile_tweet_list">
    <% @pledges.each do |pledge| %>
    <li class="profile_tweet_list_item">
      <p class="profile_tweet_list_item_text">
        <%= pledge.tweet_message %>
      </p>
    </li>
    <% end %>
  </ul>
</div>
