<div id="searchResults"></div>
<div class="profile_upper"></div>

<script type="text/x-handlebars-template" id="searchResultTemplate">
  <div class="search-result">
    <a class="search-result-anchor" href={{rep.profile_url}}>
      <img src="{{rep.thumbnail_url}}" class="search-result-thumbnail">
    </a>

    <a class="search-result-anchor" href={{rep.profile_url}}>{{rep.name}}</a>
    <a class="search-result-anchor" href="http://twitter.com/{{rep.twitter_handle}}">{{rep.twitter_display}}</a>
  </div>
</script>


<!--- USER UPPER PROFILE STUFF -->
<script type="text/x-handlebars-template" id="user_info">
  <div class="profile_image_box">
    <a href={{user.profile_pic_big_url}}>
      <img class="profile_image" src={{user.profile_pic_big_url}} alt="Profile Picture" />
    </a>
  </div>

  <p class="profile_name">
      {{user.name}} <span class="profile_handle"><a href="http://twitter.com/{{user.twitter_handle}}">@{{user.twitter_handle}}</a></span>
  </p>

  <% if current_user && current_user.id.to_s == params[:id] %>
    <button id="TogglePledgeFeed">Show All Pledges</button><button id="ToggleFulfillmentFeed">Fulfill Pledges</button><br>
  <% end %>


  <% profile_user = User.find(params[:id]) %>

  <% fulfilled_percent = profile_user.pledges.where(fulfilled: true, positive: true).count/profile_user.pledges.where(positive: true).count.to_f*100 %>


<div id='meter_wrapper'><div id='positive_bar' style='width: <%= fulfilled_percent %>%;'></div>
</script>


<script type="text/javascript">
$(document).data().pledgeTotal = <%= profile_user.pledges.where(positive: true).count %>;
$(document).data().fulfilled = <%= profile_user.pledges.where(fulfilled: true, positive: true).count %>;


function updateFulfillMeter() {

  $(document).data().fulfilled += 1
  var ful = $(document).data().fulfilled
  var pledgeTotal = $(document).data().pledgeTotal
  $('#positive_bar').animate({width: ((ful/pledgeTotal)*100+'%')}, 800);
}

</script>








<h1 class="recentPledges">Recent Pledges</h1>

<div class="colsContainer">
  <div class="leftCol">
    <ul id="leftFeedList" class="feedList"></ul>
  </div>
  <div class="midCol">
    <ul id="midFeedList" class="feedList"></ul>
  </div>
  <div class="rightCol">
    <ul id="rightFeedList" class="feedList"></ul>
  </div>
</div>


<!-- the 3-column feed -->
<script type="text/x-handlebars-template" id="midFeedListTemplate">
  <li class="feedListItem" data-id={{data.id}} data-open="false">
    <p class="feedListItemExcerpt">{{data.tweet_message}}</p>
    <button style="display: none;" class="fulfillButton">Fulfill</button>
    <button style="display: none;" class="markFulfilledButton">Mark as fulfilled</button>
    <button style="display: none;" class="gotoWebsiteButton">--></button>
  </li>
</script>

<script type="text/x-handlebars-template" id="leftFeedListTemplate">
  <li class="feedListItem">
    <p class="feedListItemExcerpt">{{data.tweet_message}}</p>

  </li>
</script>

<script type="text/x-handlebars-template" id="rightFeedListTemplate">
  <li class="feedListItem">
    <p class="feedListItemExcerpt">{{data.tweet_message}}</p>
  </li>
</script>


<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'articles', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'header-search-bar', 'data-turbolinks-track' => true %>
