<div class="header">
  <div class="header-content">
    <span class="nav-title-link">
      <%= link_to "WeThePAC", root_path %>
      <%= link_to "WtPAC", root_path %>
      <%= link_to "WtP", root_path %>
    </span>
    <div class="header_right_box">
      <img src=<%= current_user.profile_pic_thumb_url %> alt="@<%= current_user.twitter_handle %>'s thumbnail"/>
      <span class="small-header">
        <%= link_to current_user.name, current_user %>
      </span>
      <form class="logout-button" method="post" action="/sessions/logout">
        <input type="submit" value="logout">
        <input type="hidden" name="authenticity_token" value="ZXnp3ZKbn0VUWGy9LD815nPG9be9PdBi2s5j6Kj+A62hxgYYWQAG91GQJtUeNwnDqzddd0rtzDO/idv4LZQfbw==">
      </form>
    </div>


    <div class='small-header-right-box'>
      <div class='dropdown_button'><img id="hamburger" src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png"></div>

      <div id='dropdown_menu'>
        <p></p>
        <p><span><%= link_to current_user.name, current_user %></span></p>
        <p><span><%= link_to "logout", sessions_logout_path, {method: :post} %></span></p>
      </div>
    </div>

    <div class="header-search-wrapper">
      <form class="search-form">
        <input id="searchBarInput" placeholder="eg. Pelosi or 94107"></input>
      </form>
    </div>
  </div>
</div>


<script>


function setupDropDownListener() {
  $(".dropdown_button").on('click', function() {
    if (($("#dropdown_menu").css('display') == "none")) {
      $("#dropdown_menu").show();
    } else {
      $("#dropdown_menu").hide();
    }
  })
}


$( document ).ready(setupDropDownListener());
</script>

